-gallery_images = ["elrucon.jpg","brazer.jpg","hiphopblue1.jpg","hiphopwhite1.jpg","brazer.jpg","rucon1.jpg"]
!!!5
%html
  %head
    %meta{charset: "utf-8"}
    %title OHO | Somos Dealers de Streetwear Nacional
    %meta{name: "description", content:"Somos Dealers de Streetwear Nacional"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{href:"https://fonts.googleapis.com/css?family=Dancing+Script&display=swap", rel:"stylesheet"}
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"css/main.css"}
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p {class:"browserupgrade"} Actualiza tu navegador
    ="<!--[endif]-->"
    .video-container
      %video{autoplay:true, loop:true, width:"1280", poster:"videos/images/background.png"}
        %source{type:"video/mp4",src:"./videos/mp4/background1.mp4"}
        %source{type:"video/webm",src:"./videos/webm/background1.webm"}
    .row.full-height.middle-xs.center-xs.relative.up#home
      .col-xs-12
        .box.white-text
          %img{src:"images/logo.jpg", width:200}
          %h1.dancing-script.title.no-margin Somos Dealers de Streetwear Nacional      
          %p#is-open 
            %i.glyphicon.glyphicon-time
            Abierto ahora 
      %nav.fixed.top.right.navigation.white-text#navigation
        -menu = ["Home", "Productos", "Galería", "Contacto", "Cómo llegar"]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{}= item
      .absolute.green-yellow.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Las mejores marcas acompañan a oho
          .col-xs.hidden#sticky-navigation
            .box
              %nav.text-right.navigation
                %ul.list-inline
                  -menu.each do |item|
                    %li
                      %a{}= item
  .text-center.relative#productos
    .absolute.white#product-title
      %h2.dancing-script.title Productos
    -productos = [{name: "Hip Hop Deporte", image: "brazer", princing: "5.00"}, {name: "Hip Hop Deporte 2", image: "elrucon", princing: "51.00"}, {name: "Hip Hop Deporte 3", image: "hiphopblue1", princing: "54.00"}, {name: "Hip Hop Deporte 4", image: "hiphopblue1", princing: "25.00"}, {name: "Hip Hop Deporte 5", image: "hiphopwhite1", princing: "15.00"}, {name: "Hip Hop Deporte 6", image: "brazer", princing: "56.00"}, {name: "Hip Hop Deporte 7", image: "brazer", princing: "7.00"}, {name: "Hip Hop Deporte 8", image: "brazer", princing: "6.00"}]
  
    .row
      -productos.each do |photo|
        .col-md-4.col-lg-3.col-sm-6.col-xs-12.products{style:"background-image:url(images/products/#{photo[:image]}-thumb.jpg)"}
          .screen
            .row.middle-xs.full-height
              .col-xs-12.white-text
                %h3.dancing-script.subtitle= photo[:name]
                %p.no-margin= photo[:princing] + "MXM"
                
  #gallery
    .inner
      -gallery_images.each do | image |
        .image{style:"background-image:url(images/products/#{image});"}
  .container
    .card.white.black-text.text-center.relative
      %h3.medium.slim
        En
        %strong.dancing-script.medium OHO somos los más  grandes
        %strong.dancing-script.medium dealers de Streetwearnacional
      %p.top-space
        Lorem fistrum no puedor al ataquerl a peich al ataquerl por la gloria de mi madre sexuarl tiene musho peligro amatomaa diodenoo. Ese pedazo de qué dise usteer te va a hasé pupitaa ese pedazo de. Te voy a borrar el cerito tiene musho peligro pecador diodeno al ataquerl se calle ustée condemor. Mamaar sexuarl la caidita qué dise usteer ese pedazo de. A wan condemor apetecan sexuarl.
        %strong.dancing-script.medium OHOLOVERS 

  .green-yellow.white-text.full-height#contact
    .row.middle-xs.full-height
      .col-xs-12
        .box
          %form.black-text{action:"",method:"POST"}
            .row
              .col-xs-2.col-md-1
                .box
              .col-xs-5
                .box
                  %input{type:"email",name:"email",placeholder:"Coloca tu correo"}
                  %input{type:"text",name:"name",placeholder:"Coloca tu nombre"}
                  %textarea{name:"body",placeholder:"Dejanos tu mensaje"}
          

  %script{src:"https://code.jquery.com/jquery-3.4.1.min.js", integrity:"sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin:"anonymous"}
  %script
    window.jQuery || document.write("<script src='js/jquery.min.js'><\/script>")
  %script{src:"js/main.js"}


      
    